@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  /* if we add padding or border, it doesn't affect width */
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  margin: 0;
  display: flex;
  /* flex box needs height in order to center on vertical */
  height: 100vh;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

/* change width of container */
.container {
  display: flex;
  width: 90vw;
}

/* the style applied to the panels as a whole */
.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  /* so we can position absolute the h3 */
  position: relative;
  transition: 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
/* make the panels with the active class wider */
.panel.active {
  flex: 5;
}
/* make the text on the active panel visible */
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* for sm screens show 3 (not 5 panels) */
/* styles in here will only take effect under 480 pixels */
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  /* hide the last two panels */
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
